<ul class="phones">

  {{#each phones }}
  <li class="thumbnail" data-element="phone" data-phone-id="{{this.id}}">
    <a href="#!/phones/{{this.id}}" class="thumb" data-element="phoneLink">
      <img alt="{{{this.name}}}" src="{{this.imageUrl}}">
    </a>
    <a href="#!/phones/{{this.id}}" data-element="phoneLink">{{{this.name}}}</a>
    <p>{{{this.snippet}}}</p>
  </li>
  {{/each}}

</ul>